* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f9fc;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
}

.logo {
  color: #2563eb;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
}

.sidebar nav a.active {
  background: #e0e7ff;
  color: #2563eb;
  font-weight: bold;
}

.logout {
  margin-top: auto;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 25px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.avatar {
  background: #2563eb;
  color: #fff;
  border-radius: 50%;
  padding: 10px 14px;
}

/* COMMON UI */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: gray;
  text-align: left;
  padding-bottom: 10px;
}

.table td {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}


/*for form button */
/* PAGE TITLE BAR */
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* SECONDARY BUTTON */
.secondary-btn {
  background: #e5e7eb;
  color: #111;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* FORM INPUT DEFAULTS */
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  outline: none;
}

input:focus, select:focus {
  border-color: #2563eb;
}
