*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #eaf4ff, #f4faff);
    background-image: url("/frontend/assets/images/why-you-need-a-hospital-management-system.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-card{
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.icon{
    width: 60px;
    height: 60px;
    background: #2563eb;
    color: white;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 0 auto 15px;
}

h2{
    text-align: center;
    margin: 0;
}

.subtitle{
    text-align: center;
    color: gray;
    margin-bottom: 60px;
    font-weight: 500;
}

input,select{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    outline: none;
    margin-bottom: 15px;
}

input:focus,select:focus{
    border-color:#2563eb;
}
button{
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #1e40af;
}
label{
    display: block;
    margin-bottom: 6px;
}
